<!--<h2>My Woodburnings</h2>-->
<!--<ul class="woodburnings_list">-->
  <!--<li *ngFor="let woodburning of all_woodburnings" [class.selected]="woodburning === selectedWoodburning" (click)="onSelect(woodburning)">-->
    <!--<span class="badge">{{woodburning.id}}: </span> {{woodburning.name}}-->
  <!--</li>-->
<!--</ul>-->
<!--<br/>-->
<!--<div *ngIf="selectedWoodburning">-->
  <!--<h2>-->
    <!--{{selectedWoodburning.name | uppercase}} is my current selected Woodburning.-->
  <!--</h2>-->
  <!--<button (click)="gotoDetail()">View Details</button>-->
<!--</div>-->

<h2>My Woodburnings</h2>
<ul class="woodburnings_list">
  <li *ngFor="let woodburning of all_woodburnings"
    [class.selected]="woodburning === selectedWoodburning"
    (click)="onSelect(woodburning)">
    <span class="badge">{{woodburning.id}}</span> {{woodburning.name}}
  </li>
</ul>
<div *ngIf="selectedWoodburning">
  <h2>
    {{selectedWoodburning.name | uppercase}} is my current selected Woodburning.
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
